  html,body{
      height: 100%;
      margin: 0;
      background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(149,199,20,1) 0%, rgba(0,212,255,1) 96%);
    
    }

   
   .myForm{
    background-color: rgba(0,0,0,0.5) !important;
    padding: 15px !important;
   border-radius: 15px !important;
   color: white;
   
   }

.form-control{
    border-radius: 0px 15px 15px 0px !important;
}
input{
    border-radius:0 15px 15px 0 !important;

   }
   input:focus{
        outline: none;
        box-shadow:none !important;
        border:1px solid #ccc !important;

   }
.error{
    background-color: crimson;
    border-radius: 15px !important;
    padding: 5px 20px 5px 20px;
}

   .br-15{
    border-radius: 15px 0 0 15px !important;
   }
    
   .submit_btn{
    border-radius: 15px !important;
    background-color: #95c714 !important;
    border: 0 !important;
   }
   @media screen and (max-width:600px,max-height:500px){
       .container
     {
       width:100%;
       
     }
  
  .card
  {
    width:70%;
    
  }
  .d-flex
  {
    width:70%;
  }